@font-face {
  font-family: 'Chalkboard';
  src: url('Chalkboard-Bold.woff') format('woff'), url('Chalkboard-Bold.woff2') format('woff2');
  font-weight: bold;
}

@font-face {
  font-family: 'Chalkboard';
  src: url('Chalkboard.woff') format('woff'), url('Chalkboard.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --bg-color: #a9e0fc;
}

@keyframes move-bg {
  0%,
  to {
    background-position: 0 0;
  }
  25% {
    background-position: 100%0;
  }
  50% {
    background-position: 100%100%;
  }
  75% {
    background-position: 0 100%;
  }
}

body {
  transform: perspective(0);
}

body {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: 0/200vmax 200vmax;
  background-image:
    radial-gradient(at 46% 35%, hsl(218, 98%, 60%) 0, #ffffff00 50%),
    radial-gradient(at 80% 20%, hsl(339, 100%, 65%) 0, #ffffff00 50%),
    radial-gradient(at 0% 100%, hsl(48, 100%, 60%) 0, #ffffff00 50%),
    radial-gradient(at 70% 71%, hsl(117, 59%, 43%) 0, #ffffff00 50%),
    radial-gradient(at 10% 10%, hsl(175, 62%, 40%) 0, #ffffff00 50%);
  animation: 20s ease-in-out infinite move-bg;
}

body,
html {
 overflow: visible;
 min-height: 100vh;
}


@keyframes loadingShimmer {
  0% {
    opacity: 0.333;
  }
  50% {
    opacity: 0.667; 
  }
  100% {
    opacity: 0.333; 
  }
}

.loading {
  animation-duration: 1s;
  animation-fill-mode: forwards; 
  animation-iteration-count: infinite;
  animation-name: loadingShimmer;
  animation-timing-function: linear;
}




.floating {
  animation: floating 5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.tilting {
  animation: tilting 10s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}

.twisting {
  animation: floating-secondary 2.5s cubic-bezier(0.37, 0, 0.63, 1) infinite;
}



.twisting.n1, .tilting.n1 { animation-delay: -.5s; animation-duration: 3s; }
.twisting.n2, .tilting.n2 { animation-delay: -1s; animation-duration: 3s; }
.twisting.n3, .tilting.n3 { animation-delay: -1.5s; animation-duration: 3s; }
.twisting.n4, .tilting.n4 { animation-delay: -2s; animation-duration: 3s; }
.twisting.n5, .tilting.n5 { animation-delay: -2.5s; animation-duration: 3s; }

section span:hover {
  font-weight: 100;
}

@keyframes floating {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 5vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes floating-secondary {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 10vh);
  }
  100% {
    transform: translate(0, 0);
  }
}

@keyframes tilting {
  0% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(2deg);
  }
}
